<script>
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);

        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
            document.getElementById('fb-signout').style.display = 'inline-block';
            document.getElementById('signin').style.display = 'none';
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
            console.log('cerrar sesion');
            document.getElementById('fb-signout').style.display = 'none';
            document.getElementById('signin').style.display = 'inline-block';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId: '1327604254011456',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');

        FB.api('/me', 'GET',
            {"fields":"name,cover,birthday,about,email"},
            function(response) {
                console.log(response);
                console.log('Successful login for: ' + response.name);
                console.log('email: ' + response.email);

                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';

                document.getElementById('user-data').style.display = 'inline-block';
                document.getElementById('user-data').innerHTML = response.name +'  ' + response.email;
            });
    }

    window.onload = function() {
        function logout() {
            console.log('logout');
            FB.logout(function(response) {
                FB.Auth.setAuthResponse(null, 'unknown');
                console.log('logout');
            });
        }
    }
</script>

<sly data-sly-use.header="header.js">
    <div class="navbar navbar-inverse navbar-fixed-top hidden-xs">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" data-toggle="modal" data-target=".we-LanguageModal" title="${header.currentLanguage.name}"><i class="we-lang-icon we-lang-icon-${header.currentLanguage.countrycode}"></i> ${header.currentLanguage.languagecode}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="user-data" href="#" ></a></li>
                <li id="signin"><a href="#" data-toggle="modal" data-target=".we-SignInModal">Login</a></li>
                <li id="fb-signout" style="display: none;">  <a href="/system/sling/logout.html?resource=${header.currentPath}.html" onclick="logout();">Log out fb</a></li>
                <!--<li data-sly-test="${!header.isAnonymous}"><a href="/system/sling/logout.html?resource=${header.currentPath}.html">Log out</a></li>-->
                <li data-sly-test="${!header.isAnonymous}"><a href="${header.profilePath}.html">Profile</a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Wishlist <span class="badge">0</span></a></li>
                <li data-sly-test="${!header.isAnonymous}"><a href="${header.messagingPath}.html"><i class="fa fa-envelope-o"></i> Messages <span class="badge">0</span></a></li>
                <li data-sly-test="${!header.isAnonymous}"><a href="${header.notificationPath}.html"><i class="fa fa-flag-o"></i> Notifications <span class="badge" id="scf-js-notificationsUnreadCount" data-siteurl="/content/we-retail/community/en">0</span></a></li>
                <li data-sly-resource="${@ resourceType='we-retail/components/structure/navcart'}"></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-${header.theme} navbar-absolute-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#we-example-navbar-collapse-inverse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>

                <button type="button" class="navbar-toggle navbar-toggle-close collapsed" data-toggle="collapse"
                        data-target="#we-example-navbar-collapse-inverse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="we-Icon we-Icon--close"></i>
                </button>

                <a class="navbar-brand" href="${header.languageRoot}">we.<strong>Retail</strong></a>
                <div class="pull-right visible-xs" data-sly-resource="${@ resourceType='we-retail/components/structure/navcart', selectors='mobilebutton'}"></div>
            </div>

            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse width" id="we-example-navbar-collapse-inverse">
                <ul  class="nav navbar-nav navbar-center">
                    <li class="visible-xs"><a href="${header.languageRoot.path}.html">we.<strong class="text-primary">Retail</strong></a></li>
                    <sly data-sly-list.item="${header.items}">
                        <li class="${item.selected ? 'active' : ''}">
                            <a href="${ item.page.path }.html">${item.page.title}</a>

                            <ul data-sly-list.subitem="${item.children}" class="navbar-nav-subitems">
                                <li class="${subitem.selected ? 'active' : ''}">
                                    <a href="${ subitem.page.path }.html">${subitem.page.title}</a>
                                </li>
                            </ul>
                        </li>
                    </sly>
                    <li class="visible-xs divider" role="separator"></li>
                    <li class="visible-xs" data-sly-test="${header.isAnonymous}"><a href="#" data-toggle="modal" data-target=".we-SignInModal">Login</a></li>
                    <li class="visible-xs" data-sly-test="${!header.isAnonymous}"><a href="/system/sling/logout.html?resource=${header.currentPath}.html">Log out</a></li>
                    <li class="visible-xs" data-sly-test="${!header.isAnonymous}"><a href="${header.profilePath}.html">Profile</a></li>
                    <li class="visible-xs" data-sly-test="${!header.isAnonymous}"><a href="${header.messagingPath}.html" class="visible-xs">Messages <span class="badge pull-right">0</span></a></li>
                    <li class="visible-xs" data-sly-test="${!header.isAnonymous}"><a href="${header.notificationPath}.html" class="visible-xs">Notifications <span class="badge pull-right">0</span></a></li>
                    <li class="visible-xs"><a href="#" class="visible-xs">Wishlist <span class="badge pull-right">0</span></a></li>
                    <li class="visible-xs"><a href="#" data-toggle="modal" data-target=".we-LanguageModal"><i class="we-lang-icon we-lang-icon-${header.currentLanguage.countrycode}"></i> ${header.currentLanguage.languagecode}</a></li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
            <div class="navbar-right-outside">
                <a href="#" class="btn ${header.theme == 'inverse' ? 'btn-primary' : ''}" data-toggle="modal" data-target="#navbar-search">
                    <span class="sr-only">Search</span><i class="we-Icon we-Icon--search" aria-hidden="true"></i>
                </a>
            </div>
            <!-- /.navbar-right-outside -->

            <span class="navbar-shutter"></span>
        </nav>
        <!-- /.navbar -->
    </div>

    <div class="we-SearchModal modal fade" id="navbar-search" role="dialog" data-color="primary">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span><i class="we-Icon we-Icon--search"></i>Search anything</span>
                    <button type="button" class="close" data-dismiss="modal"><span>Close search</span><i class="we-Icon we-Icon--close-alt"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="search" class="we-SearchModal-input" placeholder="Start typing...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="we-SearchModal-box">
                                <h5>Popular search</h5>
                                <ul>
                                    <li><a href="#"><mark>Tanner H</mark>all</a></li>
                                    <li><a href="#"><mark>Tanner H</mark>all skis</a></li>
                                    <li><a href="#"><mark>Tanner H</mark>all Armada</a></li>
                                    <li><a href="#"><mark>Tanner H</mark>all dakine</a></li>
                                    <li><a href="#"><mark>Tanner H</mark>all movie</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="we-SearchModal-box">
                                <h5>Products</h5>
                                <ul class="we-SearchModal-box-list">
                                    <li>
                                        <img src="http://placehold.it/100x100" alt="">
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Oakley</a></h6>
                                            <a href="#" class="small">Tanner Hall Signature Crowbar Goggle</a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="http://placehold.it/100x100" alt="">
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Tyrolia</a></h6>
                                            <a href="#" class="small">Tanner Hall Team Mission 25L</a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="http://placehold.it/100x100" alt="">
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Dakine</a></h6>
                                            <a href="#" class="small">Peak 18X Tanner Hall Pro Model</a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="http://placehold.it/100x100" alt="">
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Armada Skis</a></h6>
                                            <a href="#" class="small">Tanner Hall Signature Crowbar Goggle</a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="http://placehold.it/100x100" alt="">
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Dakine</a></h6>
                                            <a href="#" class="small">Tanner Hall Team Mission 25L</a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="http://placehold.it/100x100" alt="">
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Dalbello</a></h6>
                                            <a href="#" class="small">Peak 18X Tanner Hall Pro Model</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="we-SearchModal-box">
                                <h5>Experience</h5>
                                <ul class="we-SearchModal-box-list">
                                    <li>
                                        <div class="pull-left">
                                            <h6>
                                                <a href="#"><mark>Tanner H</mark>all shares meaning behind name of Corporis incidunt recusandae sunt.</a>
                                            </h6>
                                            <time class="small">Skiing, September 9, 2015</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pull-left">
                                            <h6>
                                                <a href="#">15 seconds of <mark>Tanner H</mark>all going f'ing massive</a>
                                            </h6>
                                            <time class="small">Skiing, September 9, 2015</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pull-left">
                                            <h6>
                                                <a href="#"><mark>Tanner H</mark>all drops new, pow-filled trailer</a>
                                            </h6>
                                            <time class="small">Skiing, September 9, 2015</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pull-left">
                                            <h6>
                                                <a href="#">Pop pillows in episode one of "<mark>Tanner H</mark>all'n"</a>
                                            </h6>
                                            <time class="small">Skiing, September 9, 2015</time>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="we-SearchModal-box">
                                <h5>People</h5>
                                <ul class="we-SearchModal-box-list">
                                    <li>
                                        <div class="we-SearchModal-box-avatar">
                                            <div class="img-center">
                                                <img src="http://placehold.it/100x100" alt="">
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Tanner Hall</a></h6>
                                            <a href="#" class="small">42 posts</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="we-SearchModal-box-avatar">
                                            <div class="img-center">
                                                <img src="http://placehold.it/100x100" alt="">
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <h6 class="bold"><a href="#">Tanner Hall</a></h6>
                                            <a href="#" class="small">42 posts</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.we-SearchModal -->

    <div class="we-SignInModal modal fade" tabindex="-1" role="dialog" data-color="primary">
        <div class="modal-dialog modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">LOGIN</h3>
                </div>
                <div class="modal-body">
                    <form class="we-SignInModal-form" method="POST" action="${header.signInPath}">
                        <div class="form-group">
                            <input class="form-control" type="text" name="j_username" placeholder="email address"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="j_password" placeholder="password"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-action">Login</button>
                        </div>
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>

                        <div id="status">
                        </div>
                        <div class="form-group">
                            <a href="#" class="">Forgot your password?</a>
                        </div>
                        <input type="hidden" name="resource" value="${header.currentPath}.html"/>
                    </form>

                    <div>
                        <div class="form-group">
                            <h4 class="modal-title text-uppercase">Don't have an account?</h4>
                        </div>
                        <div class="form-group">
                            <a href="${header.signUpPath}.html" class="btn btn-primary btn-action">Register</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- /.we-SignInModal -->

    <div class="we-LanguageModal modal fade" tabindex="-1" role="dialog" data-color="primary">
        <div class="modal-dialog modal-center modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">CHOOSE YOUR COUNTRY</h3>
                </div>
                <div class="modal-body">
                    <ul class="we-LanguagesList" data-sly-list.country="${header.countries}">
                        <li>
                            <i class="we-lang-icon we-lang-icon-${country.countrycode}"></i><span data-sly-list.language="${country.languages}"><a href="${language.path}.html" class="${language.selected ? 'active' : ''}">${language.name}</a><sly data-sly-test="${!languageList.last}"> | </sly></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-after">
                <a href="#" data-dismiss="modal"><i class="we-Icon we-Icon--close-alt"></i> Close</a>
            </div>
        </div>
    </div><!-- /.we-LanguageModal -->
</sly>